@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 600;
  color: #0c0c0c;
}

input,
label {
  display: block;
}

button {
  padding: 20px 10px;
  background-color: green;
  color: white;
  border-radius: 2px;
  border: none;
  width: 10vw;
}

button:hover {
  border-radius: 5px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-column {
  flex: 1;
  background-image: url("/images/image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-column {
  padding: 25px 50px;
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.logo {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 25vh;
  padding: 15px 0px;
}

.body-copy {
  flex: 1;
  justify-self: flex-end;
}

.form-row {
  flex: 3;
}

.form-container {
  display: flex;
  padding: 20px 0px 20px 10px;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10vh;
  border-radius: 5px;
}

.field-set-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-set {
  margin: 15px 0px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

input:active {
  border: 1px lightblue solid;
}

input:invalid {
  border: 1px red solid;
}
